<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>

  <main>
    <div>
      
           <a href="/enc">Encrypt</a>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
